.page_name{
    width: 93%;
    height: 28px;
    background-color: #e9ecef;
    text-align: left;
    padding-left: 20px;
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 8px;
    border-radius: 10px;
    padding-bottom: 35px;
}
.page_name a{
    color: #007bff;
    /* width:95%; */
}

#top_button{
    margin-left: 60px;
    background: #009688;
    width: 60px;
    text-align: center;
    padding: 5px;
    margin-top: 50px;
    border: 3px solid black;
    border-radius: 30px;
    font-weight: bold;
    color: white;
}
#top_button:hover{
    background-color: #00bcd4;
}



/* javascript main content  */
/* javascript main content  */
/* javascript main content  */
.js_main{
    /* margin-left: 20px; */
    width: 96%;
    margin-top:10px;
}

.js_left{
    float:left;
    background-color: #e9ecef;
    width:20%;
    padding-top:15px;
    border-radius: 0px 30px 15px 0px;
    border: 1px solid black;
}

.js_left a{
    font-weight: bold;
    font-size: 20px;
    color:black;;
}

.js_sub_menu{
    margin-left:35px;
}
.js_sub_menu a{
    color:black;
    font-size: 15px;
}
.js_sub_menu a:hover {
    color:red;
}




.js_right{
    float:right;
    background-color:rgb(255, 255, 255);
    width:78%;
    margin-left: 2px;
}
/* javascript main content  */
/* javascript main content  */
/* javascript main content  */


.text_center{
    text-align:center;
}

.js_right ul li{
    list-style: decimal;
}

table, td, th {
    border: 1px solid black;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    height: 70px;
    background-color: #969999;
    color:white
  }

.operation, tr, .operation_com_oper, .operation_bitw_oper, .operation_logical_operators{
    background-color: rgb(13 110 253 / 25%);
    text-align: center;
}

  #result, #result_com_oper, #result_bitw_oper, #result_logical_operators{
    background-color: #007bff;
    color: white;
    padding: 5px 25px 10px 25px;
    border-radius: 4px;
    border: 1px solid black;
    font-weight: bold;
}


img{
    max-width: 100%;
}
input{
    margin-top: 10px;
    background-color: #ffeb3b;
    color: black;
    font-weight: bold;
}